<div class="container">
  <footer>
    {% load static %}
      <nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
          <div class="container-fluid">
              <a class="navbar-brand disabled" href="#">
                <img src="{% static 'img/logo/favicon-32x32.png' %}"  class="d-inline-block align-top" alt="Логотип">
                © 2023 Schukin Egor
              </a>
              <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="https://github.com/code-n-cry" target="_blank"><img src="{% static 'favicon/github.svg' %}" alt="Иконка GitHub"></a></li>
                <li class="ms-3"><a class="text-muted" href="https://t.me/brown_eyed_minion" target="_blank"><img src="{% static 'favicon/telegram.svg' %}" alt="Иконка Telegram"></a></li>
              </ul>    
          </div>
      </nav>
  </footer>
</div>
