{% load static %}
{% load i18n %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      {% with request.resolver_match.view_name as view_name %}
        <a class="navbar-brand {% if view_name == 'homepage:index' %}disabled{% endif %}" href="/">
      {% endwith %}    
          <img src="{% static 'img/logo/favicon-32x32.png' %}"  class="d-inline-block align-top" alt="Логотип">
          RaccoonHub
        </a>
      <div class="collapse navbar-collapse navbar-default" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% with request.resolver_match.view_name as view_name %}
              <a class="nav-link {% if view_name == 'homepage:index' %}active disabled{% endif %}" aria-current="page" href="{% url 'homepage:index' %}">{% translate 'Главная' %}</a>
              <a class="nav-link {% if view_name == 'catalog:item_list' %}active disabled{% endif %}" href="{% url 'catalog:item_list' %}">{% translate 'Каталог' %}</a>
              <a class="nav-link {% if view_name == 'about:description' %}active disabled{% endif %}" href="{% url 'about:description' %}">{% translate 'О проекте' %}</a>
              {% if request.user.is_superuser %}
                <a class="nav-link {% if view_name == 'admin:index' %}active disabled{% endif %}" href="{% url 'admin:index' %}">Админка</a>
              {% endif %}
          {% endwith %}
        </div>
      </div>          
    </div>
  </nav>
</header>