{% load static %}
{% load i18n %}
 <div class="col-md-12 col-xl-6">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-6 col-lg-4 col-xl-7 col-xxl-6">
        {{ item.main_image.image_tmb }}
      </div>  
      <div class="col">
        <div class="card-body">
          <h5 class="card-title text-break">{{ item.name|title }}</h5>
          {% with request.resolver_match.view_name as view_name %}
            {% if view_name == 'homepage:index' %}
              <span class="badge badge-pill bg-info">{{ item.category.name }}</span>
            {% endif %}
          {% endwith %}
          <p class="card-text">{{ item.text|truncatewords_html:10|safe }}</p>
          {% for tag in item.tags.all %}
            <span class="badge badge-pill bg-success mb-3">{{ tag.name }}</span>
          {% endfor %}<br>
          <a href="/catalog/{{ item.id }}/" class="btn btn-dark">{% translate "К товару" %}</a>
        </div>
      </div>
    </div>
  </div>
 </div>
