{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}">
    {% block title %}
        <title>Base template</title>
    {% endblock %}
  </head>
  <body>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/own_style.css' %}" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% include "includes/header.html" %}
    <main style="margin-top: 4.6rem">
      {% if birthday_persons %}
      <div class="container-fluid overflow-hidden bg-warning">
        <p class="marquee"> 
          <span>
          {% translate 'С ДНЁМ РОЖДЕНИЯ!' %}
          {% for person in birthday_persons %}
            {{forloop.counter}}.<a class="text-black" href="{% url "users:user_detail" person.id %}">{{ person.username }}({{ person.email }})</a>
            {% if not forloop.last %}-{% endif %}
          {% endfor %}
          </span>
        </p>
      </div>
      {% endif %}
      {% block content %}{% endblock %}
    </main>
    {% include "includes/footer.html" %}
    <script>
      const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      document.cookie = "django_timezone=" + timezone;
    </script>
  </body>
