{% load i18n %}
{% autoescape off %}
{% blocktranslate %}
Вы получили это письмо, потому что пытались сменить пароль аккаунта
на сайте {{ site.name }}
{% endblocktranslate %}
{% translate "Пожалуйста, перейдите на страницу ниже и создайте новый пароль" %}:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'auth:password_reset_confirm' uidb64=uid token=token %}
{% endblock reset_link %}
{% translate "Ваше имя на сайте" %}: {{ user.get_username }}
{% blocktranslate %}The {{ site.name }} team{% endblocktranslate %}
{% endautoescape %}