{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
<title>{% translate "Информация о пользователе" %}</title>
{% endblock title %}
{% block content %}
<div class="container">
  <h2 align="center">{% translate "Информация о пользователе" %}</h2>
  <div class="d-flex justify-content-left">
    <form method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ data_form.as_p }}
      {{ profile_form.as_p}}
      <button type="submit" class="btn btn-primary">Изменить</button>
      <a class="btn btn-success" href="{% url 'homepage:coffee' %}">Выпить кофе</a>
    </form>
  </div>
</div>
{% endblock content %}

