{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
{% if LANGUAGE_CODE == 'ru' %}
  <title>Каталог</title>
{% else %}
  <title>Catalog</title>
{% endif %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="text-wrap p-3" id="catalog_header">
      {% if LANGUAGE_CODE == 'ru' %}
        <h2>Список <s>товаров</s> енотов</h2>
      {% else %}
        <h2>The list of <s>items</s> raccoons</h2>
      {% endif %}
    </div>
  </div>
  <div class="d-flex justify-content-around">
    {% if LANGUAGE_CODE == 'ru' %}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/card_raccoon_0.jpg' %}" alt="Изображение милого енота">
        <div class="card-body">
          <h5 class="card-title">Милый енот</h5>
          <p class="card-text">Реально милый енот</p>
          <a href="/catalog/1" class="btn btn-primary">К еноту</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/card_raccoon_1.jpg' %}" alt="Изображения енота с электрогитарой">
        <div class="card-body">
          <h5 class="card-title">Рок-енот</h5>
          <p class="card-text">Жанр "кьют-рок" создал именно он</p>
          <a href="/catalog/2" class="btn btn-primary">К еноту</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/card_raccoon_2.jpg' %}" alt="Изображение хэллоуинского енота с тыквой в лапках">
        <div class="card-body">
          <h5 class="card-title">Хэллоуинский енот</h5>
          <p class="card-text">Сладость или гадость?</p>
          <a href="/catalog/3" class="btn btn-primary">К еноту</a>
        </div>
      </div>
    {% else %}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/card_raccoon_0.jpg' %}" alt="Изображение милого енота">
        <div class="card-body">
          <h5 class="card-title">Adorable raccoon</h5>
          <p class="card-text">Really cute raccoon</p>
          <a href="/catalog/1" class="btn btn-primary">Go to raccoon</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/card_raccoon_1.jpg' %}" alt="Изображения енота с электрогитарой">
        <div class="card-body">
          <h5 class="card-title">Rocky raccoon</h5>
          <p class="card-text">This creature of nature invented "cute-rock" music genre</p>
          <a href="/catalog/2" class="btn btn-primary">Go to raccoon</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'img/card_raccoon_2.jpg' %}" alt="Изображение хэллоуинского енота с тыквой в лапках">
        <div class="card-body">
          <h5 class="card-title">Halloween raccoon</h5>
          <p class="card-text">Trick or treat?</p>
          <a href="/catalog/3" class="btn btn-primary">Go to raccoon</a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
