{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% translate 'Страница товара' %}</title>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="text-wrap p-3" id="item_header">
        <h1>{% translate 'Карточка товара' %}</h1>
      </div>
    </div>
    <div class="align-self-center p-2">
      <h3>{% translate 'Название' %}: {{ item.name }}</h3>
    </div>
    {% if item.main_image.image.url %}
      <div class="align-self-center p-2">
        <h4>{% translate 'Главное изображение' %}:</h4>
        {{ item.main_image.image_tmb }}
      </div>
      <div class="align-self-center p-2">
        <a class="btn btn-dark" download="proposed_file_name" href="{{ item.main_image.image.url }}" role="button">{% translate 'Скачать' %}</a>
      </div>
    {% endif %}
    <div class="align-self-center p-2">
      <h4>{% translate 'Описание' %}:</h4>
      <p class="text-break">{{ item.text|safe }}</p>
    </div>
    <div class="align-self-center p-2">
      <h4>{% translate 'Категория' %}: </h4>
      <span class="badge badge-pill bg-info">{{ item.category.name }}</span>
    </div>
    <div class="align-self-center p-2">
      <h4>{% translate 'Галерея фото товара' %}:</h4>
      <div class="row row-cols-3">
        {% for img_obj in item.description_images.all %}
          <div class="col-sm-6 mb-3">
            <div class="card border-0 text-center">
              {{ img_obj.image_tmb }}
              <div class="card-body">
                <a class="btn btn-dark" download="proposed_file_name" href="{{ img_obj.image.url }}" role="button">{% translate 'Скачать картинку выше' %}</a>
              </div>
            </div>
          </div>
        {% empty %}
          <div class="align-self-center p-2">
            <p>{% translate 'Фоток нэт' %}...</p>
          </div>     
        {% endfor %}
      </div>
    </div>
    <div class="align-self-center p-2 md-auto">
      <h4>{% translate 'Тэги' %}:</h4>
      {% for tag in item.tags.all %}
        <span class="badge badge-pill bg-success">{{ tag.name }}</span>
      {% endfor %}
    </div>
  </div>
{% endblock %}
